* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* BODY */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* CONTAINER */
.container {
  min-height: 100vh;
  background-color: #ccc;
  padding: 1rem;
  border-radius: 40px;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 300;
  font-size: 28px;
  display: inline;
}

.fa-pencil {
  padding: 7px;
  color: #354f52;
  margin-right: auto;
}

#search-text {
  display: none;
  size: 10;
  width: 100%;
  margin: 5px;
}

.fa-magnifying-glass {
  color: #84a98c;
}

/* NOTES CONTAINER */

#notes {
  flex-grow: 1;
}

/* NOTE DIV */

.note {
  margin: 12px 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-text h2 {
  font-size: 1rem;
}

.note-text p {
  font-size: 14px;
}

.note-text {
  max-width: 90%;
  overflow-wrap: break-word;
}

/* style input fields */

#search-text,
#input-title,
#input-body {
  border-radius: 5px;
  border: none;
  font-family: inherit;
  min-height: 1rem;
  opacity: 0.7;
  outline: none;
  padding: 5px;
  text-indent: 0.5rem;
}

#input-title,
#input-body {
  margin: 7px;
  overflow-wrap: break-word;
  resize: vertical;
  font-family: inherit;
}

/* trash icon */
.fa-trash {
  display: none;
}

.fa-toggled {
  display: inline;
  margin: 5px;
}

.fa-toggled:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* .fa-trash:active {
  color: #354f52;
} */

#add-note {
  margin: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #84a98c;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

/* HAVING FUN */

.radio-toolbar {
  display: none;
}
.radio-toolbar-on {
  display: flex;
  width: min-content;
  justify-content: space-between;
  /* padding: 5px; */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0.5rem 0.5rem;
}

.radio-toolbar-on input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar-on label {
  display: inline-block;
  padding: 1rem;
  border-radius: 0 25%;
  margin: 5px;
}
#gray + label {
  border: 1px solid gray;
}
#red + label {
  background-color: rgba(255, 138, 155, 0.3);
}
/* #red:hover + label, */
#red,
#red:checked + label {
  background: linear-gradient(286.17deg, #ff3333 36.98%, #ff8a9b 100%);
}
#teal + label {
  background-color: rgba(0, 150, 137, 0.3);
}
/* #teal:hover + label, */
#teal,
#teal:checked + label {
  background: linear-gradient(286.17deg, #009689 36.98%, #47fff0 100%);
}
#purple + label {
  background-color: rgba(103, 58, 179, 0.3);
}
/* #purple:hover + label, */
#purple,
#purple:checked + label {
  background: linear-gradient(286.17deg, #673ab3 36.98%, #a284d7 100%);
}
#yellow + label {
  background-color: rgba(255, 192, 45, 0.3);
}
/* #yellow:hover + label, */
#yellow,
#yellow:checked + label {
  background: linear-gradient(286.17deg, #ffc02d 36.98%, #ffdc8a 100%);
}
#green + label {
  background-color: rgba(74, 175, 87, 0.3);
}
/* #green:hover + label, */
#green,
#green:checked + label {
  background: linear-gradient(286.17deg, #4aaf57 36.98%, #88cd92 100%);
}
