body {
  background-color: #84a98c;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

h1,
h2 {
  margin: 0;
}
h1 {
  font-weight: 300;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0.7rem;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.notes-edit {
  display: flex;
  align-items: flex-end;
}
#search-text,
#input-title,
#input-body {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.7;
  max-width: 90%;
  overflow-wrap: break-word;
  resize: vertical;
  font-family: inherit;
  min-height: 16px;
}
#input-title,
#input-body {
  margin: 7px;
}

#input-icons {
  display: flex;
  justify-content: flex-end;
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fa-magnifying-glass {
  position: absolute;
  padding: 10px;
  color: #84a98c;
}

.container {
  margin: 5%;
  width: 60vw;
  height: 95vh;
  max-height: 800px;
  background-color: #e5e9e2;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.note p {
  margin: 0;
  font-size: 14px;
}

.note:nth-child(even) {
  background-color: #fff;
  opacity: 0.7;
  color: #84a98c;
}

#notes {
  /* display: flex;
  flex-direction: column-reverse;
  overflow: scroll; */
  flex-grow: 1;
}
.note {
  width: inherit;
  margin: 12px 0;
  padding: 1rem;
  background-color: #84a98c;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-text {
  max-width: 90%;
  overflow-wrap: break-word;
}

.fa-pencil {
  padding: 10px;
  color: #354f52;
}

/* trash icon */
.fa-trash {
  display: none;
}

.fa-toggled {
  display: block;
}

/* .note:hover > .fa-trash {
  opacity: 0.2;
}
.note > .fa-trash:hover {
  opacity: 1;
} */

.fa-trash:active {
  color: #354f52;
}
/*
.note:hover > #del-btn {
  opacity: 0.3;
}
.note > #del-btn:hover {
  opacity: 1;
}

*/

#add-note {
  margin: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #84a98c;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
