* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* BODY */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* CONTAINER */
.container {
  min-height: 100vh;
  background-color: #ccc;
  padding: 1rem;
  border-radius: 40px;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 300;
  font-size: 28px;
  display: inline;
}

.fa-pencil {
  padding: 7px;
  color: #354f52;
  margin-right: auto;
}

#search-text {
  display: none;
  size: 10;
  width: 100%;
  margin: 5px;
}

.fa-magnifying-glass {
  color: #84a98c;
}

/* NOTES CONTAINER */

#notes {
  flex-grow: 1;
}

/* NOTE DIV */

.note {
  margin: 12px 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-text h2 {
  font-size: 1rem;
}

.note-text p {
  font-size: 14px;
}

.note-text {
  max-width: 90%;
  overflow-wrap: break-word;
}

/* style input fields */

#search-text,
#input-title,
#input-body {
  border-radius: 5px;
  border: none;
  font-family: inherit;
  min-height: 1rem;
  opacity: 0.7;
  outline: none;
  padding: 5px;
  text-indent: 0.5rem;
}

#input-title,
#input-body {
  margin: 7px;
  overflow-wrap: break-word;
  resize: vertical;
  font-family: inherit;
}

/* trash icon */
.fa-trash {
  display: none;
}

.fa-toggled {
  display: inline;
  margin: 5px;
}

.fa-toggled:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* .fa-trash:active {
  color: #354f52;
} */

#add-note {
  margin: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #84a98c;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

/* HAVING FUN */

.container-swatches {
  display: none;
}
.container-swatches-on {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 0;
}

/* .swatch {
  margin: 4px;
  width: 15px;
  height: 15px;
  border-radius: 0px 25%;
} */

#red {
  background: linear-gradient(286.17deg, #ff3333 36.98%, #ff8a9b 100%);
}
#teal {
  background: linear-gradient(286.17deg, #009689 36.98%, #47fff0 100%);
}

#purple {
  background: linear-gradient(286.17deg, #673ab3 36.98%, #a284d7 100%);
}

#yellow {
  background: linear-gradient(286.17deg, #ffc02d 36.98%, #ffdc8a 100%);
}

#green {
  background: linear-gradient(286.17deg, #4aaf57 36.98%, #88cd92 100%);
}

/* margin: 4px;
width: 15px;
height: 15px;
border-radius: 0px 25%; */

.container-swatches-on input {
  padding: 10px;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0 25%;
  opacity: 0.5;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0 5px;
}
input[type="radio"]::before {
  content: "";
  opacity: 1;
}
